@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    list-style: none;
}

body
{
    margin: 0px;
}

p
{
    font-size: 22px;
    color: rgb(121, 121, 121);
    margin: 15px 0 20px 0;
}

h1
{
    font-size: 4rem;
    line-height: 4rem;
    color: black;
}

h2
{
    font-size: 3rem;
    line-height: 3rem;
    color: black;
}

h4
{
    font-size: 2.6rem;
    color: black;
}

h5
{
    font-size: 2rem;
    color: rgb(125, 125, 125);
}

h6
{
    font-size: 1.6rem;
    color: black;
}

.config1
{
    text-decoration: none !important;
    color: #1a1a1a;
}

.config2
{
    margin: 40px 0;
    text-decoration: none !important;
    color: #1a1a1a;
}

img
{
    max-width: 100%;
    height: auto;
}

a
{
    text-decoration: none !important;
}



/*BODYS*/

#body__index
{
    background-color: #d2d2d2;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 2fr 2fr; 
    grid-template-rows: 0.5fr 4fr 1fr;  
    grid-template-areas: 
      "header-nav header-nav"
      "sections sections"
      "footer footer"; 
}

#body__about
{
    background-color: #d2d2d2;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 2fr 2fr; 
    grid-template-rows: 0.5fr 4fr 1.5fr;  
    grid-template-areas: 
      "header-nav header-nav"
      "sections sections"
      "footer footer"; 
}

#body__login, #body__signup
{
    background-color: #d2d2d2;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 2fr 2fr; 
    grid-template-rows: 0.5fr 4fr 1.5fr;  
    grid-template-areas: 
      "header-nav header-nav"
      "sections sections"
      "footer footer"; 
}

#body__catalog
{
    background-color: #d2d2d2;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 2fr 2fr; 
    grid-template-rows: 0.2fr 3fr 0.4fr;  
    grid-template-areas: 
      "header-nav header-nav"
      "sections sections"
      "footer footer"; 
}

#body__cart
{
    background-color: #d2d2d2;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 2fr 2fr; 
    grid-template-rows: 0.2fr 3fr 1fr;  
    grid-template-areas: 
      "header-nav header-nav"
      "sections sections"
      "footer footer"; 
}


/*HEADER START*/
.header-nav
{
    height: 16vh;
    position: sticky;
    align-items: center;
    list-style: none;
    background-color: lightslategray;
    display: flex;
    z-index: 999;
    margin-bottom: 10vh;
    grid-area: header-nav; 
    justify-content: space-between;
}


.logo
{
    height: 80px;
    align-items: center;
}


.navbar
{
    display: flex;
    margin: 0 20px;
}

.navbar li
{

    list-style: none;
    padding: 0 10px;
    position: relative;
}

.navbar li a
{
    color: antiquewhite;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 600;
    transition: 0.2s;
    border-radius: 40px;
}

.navbar li a:hover,
.navbar li a:active
{
    color: rgb(253, 157, 31);
    background-color: #e3e6f3;
}

.navbar li a:active::after,
.navbar li a:hover::after
{
    content: "";
    width: 20%;
    height: 2px;
    background-color:rgb(201, 246, 246);
    position: absolute;
    bottom: -1px;
    left: 30px; 
}


/*MAIN*/

.sections
{
    padding: 0;
    margin: 0;
    grid-area: sections;
}

#section-1 
{ 
    margin: 0;
    padding: 0;
}




/*SECTION 1 INDEX*/

.sub-header
{
    text-align: center;
    margin-bottom: 14px;
}



.banner__description
{
    font-size: 1.6rem;
    font-weight: 700;
    color: #ebebeb;
    cursor: default;
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

.banner__button
{
    display: flex;
    justify-content: center;
}

.banner__button__link
{
    color: #1a1a1a;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 4px;
}



.banner__button__link:hover
{
    background-color: #ffffff83;
    color: #000000;
}

.banner
{
    margin-bottom: 400px;
}


.banner__img
{
    display: flex;
}

.banner__img__src
{
    width: 100%;
}





/*SECTION 1 ABOUT*/

.location p
{
    color: #1a1a1a;
    font-size: 2rem;
    text-align: center;
}

.location h5
{
    color: #1a1a1a;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.gmap-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gmap-canvas
{
    min-width: 500px;
}

.gmap-iframe
{
    min-width:600px;
    min-height: 500px;
    width: 1200px;
    height: 800px;
}


/*SECTION 1 LOGIN-SIGNUP*/


.sign-up
{
    background-color: #ffffff;
    place-items: center;
    margin: 60px 90px;
    padding: 160px 170px 140px;
    overflow: hidden;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 2vh 3vh rgb(180 180 180 / 20%);
}

.sign-up h2
{
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0 0 4vh;
    color: #383535;
}


.form
{
    display: grid;
    gap: 3vh;
}

.form input, .form button
{
    width: 100%;
    height: 5vh;
    border-radius: 1.4rem;
}

.form input
{
    border: 2px solid #acacac;
    font-family: Roboto;
    font-size: 1.2rem;
    padding: 0 1.6vw;
    color: #333333;
}

.form input:hover
{
    border: 2px solid rgb(41, 41, 41);
}

.form input::placeholder
{
    color: #a8a8a8;
}

.form button
{
    cursor: pointer;
    width: 100%;
    height: 5vh;
    padding: 0 2vw;
    color: #ffffff;
    background-color: rgb(37, 135, 255);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    text-align: center;   
    letter-spacing: 2px;
}

.form button:hover
{
    background-color: rgb(0, 86, 191);
}


.sign-up p
{
    margin-top: 8vh;
    margin-bottom: 3vh;
    color: #353535;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: default;
}

.sign-up a
{
    font-size: 1.6rem;
    font-weight: 500;
    color: #05aee7;
    padding: 4px 16px;
    border-radius: 8px;
}


.sign-up a:hover
{
    color: #023a9b;
}

/*SECTION 1 CATALOG*/
.links-box
{
    width: 100%;
    display: flex;
    padding: 26px 20vw;
    margin-top: 100px;
    justify-content: center;
    list-style: none;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-right: none;
}

.link
{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}



#pages nav
{
    display: flex;
    justify-content: center;
}

.pagination
{
    margin-top: 40px;
    margin-bottom: 40px;
}

.pagination a:hover,
.pagination .active a {
    background-color: #fc7171;
    color: #ffffff;
    border-color: #fc7171;
}

.pagination a:focus {
    background-color: #fc7171;
    color: #ffffff;
    border-color: #fc7171;
}

.page-link
{
    color: #000000;
}


    


/*PRODUCTS*/

#sub-header
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#product
{
    text-align: center;
    margin-top: 60px;
}


#product .product-box
{
    padding: 0px;
    margin-left: 15px;
}




#product .pro
{
    width: 20%;
    padding: 8px 8px;
    border: 1px;
    border-color: #e3e6f3;
    border-style: solid;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    margin: 0 10px 60px;
    transition: 0.15s;
    display: inline-block;
    justify-content: space-around;
}

.pro
{
    background-color: #ffffff;
}


#product .pro:hover
{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);  
}

#product .pro img
{
    width: 100%;
    border-radius: 20px;
    border: 1px solid #d7dae7;
}


#product .pro .desscription
{
    padding: 10px 0;
}










/*SECTION 1 CART*/

#cart-box
{
    background-color: #ffffff;
    border: 1px rgb(187, 187, 187) solid;
    border-radius: 10px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}



.pre-shipping
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 28px;
    color: #1a1a1a;
    margin-left: 10px;
}

.gray
{
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    cursor: pointer;
}

.black
{
    color: #1a1a1a;
    font-weight: 600;
    cursor: pointer;
}

.form
{
    padding: 20px;
    border-radius: 20px;
    width: 500px;
}

fieldset
{
    border: none;
    margin-top: 20px;
}

.login
{
    margin-bottom: 40px;
}


#name, #number, #pass, #code, #expire
{
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #808080;
    border-radius: 4px;
}

#name:hover, #number:hover, 
#pass:hover, #code:hover, 
#expire:hover
{
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #e3a2a2;
    border-radius: 4px;
}





.submit
{
    display: flex;
    justify-content: center;
}

.submit-button
{
    background-color: #db7d7d;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    width: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.submit-button:hover
{
    background-color: #fe6d6d;
    color: rgb(66, 66, 66);
    border: 0;
    background-repeat: no-repeat;
    white-space: nowrap;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
}







/*FOOTER START*/

.newsletter 
{ 
    justify-content: space-between;
    align-items: center;
    background-color: #524545;
    height: 220px;
    display: flex;
    padding-right: 20px;
}



.newsletter h4
{
    font-size: 2rem;
    color: #ffffffd8;
    font-weight: 600;
    margin-left: 40px;
}

.newsletter h2
{
    font-size: 1.2rem;
    color: #d5d5d5de;
    font-weight: 500;
    margin-left: 40px;
}


.newsletter h2 span
{
    color: #ffbe27e0;
}

.newsletter .form
{
    display: flex;

}


.newsletter input
{
    height: 60px;
    padding: 0 25px;
    font-size: 24px;
    width: 20vw;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.newsletter button
{
    background-color: #db7d7d;
    color: rgb(255, 255, 255);
    border: 0;
    background-repeat: no-repeat;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 8vw;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.newsletter button:hover
{
    background-color: #ffa0a0;
    color: rgb(34, 34, 34);
}







.footer
{
    text-decoration: none;
    color: #1a1a1a;
    grid-area: footer;
    background-color: #e3c6c6;
    position: sticky;
}


.footer img
{
    height: 120px;
    margin-top: 80px;
}



.description
{
    margin-top: 120px;
    margin-left: 40px;
    margin-bottom: 40px;
}


/*MOBILE*/

@media screen and 

(min-width: 480px)
{

/*BODYS*/

    #body__index
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.3fr 2fr 1fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__about
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.5fr 4fr 1.5fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__login, #body__signup
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.5fr 4fr 1.5fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__catalog
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.2fr 3fr 0.4fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__cart
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.2fr 3fr 1fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }


/*HEADER NAV GENERAL*/    
    .header-nav
    {
        height: 12vh;
        position: sticky;
        align-items: center;
        list-style: none;
        background-color: lightslategray;
        display: flex;
        z-index: 999;
        margin-bottom: 10vh;
        grid-area: header-nav; 
        justify-content: space-between;
    }


    .logo
    {
        height: 50px;
        align-items: center;
    }


    .navbar
    {
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    .navbar li
    {

        list-style: none;
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    .navbar li a
    {
        color: antiquewhite;
        font-size: 14px;
        font-weight: 600;
        transition: 0.2s;
        border-radius: 40px;
    }

    .navbar li a:hover,
    .navbar li a:active
    {
        color: rgb(253, 157, 31);
        background-color: #e3e6f3;
    }

    .navbar li a:active::after,
    .navbar li a:hover::after
    {
        content: "";
        width: 20%;
        height: 2px;
        background-color:rgb(201, 246, 246);
        position: absolute;
        bottom: -1px;
    }

/*FOOTER START*/

.footer
{
    text-decoration: none;
    color: #1a1a1a;
    grid-area: footer;
    background-color: #e3c6c6;
    position: sticky;
}


.footer img
{
    height: 100px;
    margin-top: 20px;
}



.description
{
    padding-top: 40px;
    font-size: 20px;
}

}


/*MOBILE*/

@media screen and 

(min-width: 768px)
{

/*BODYS*/

    #body__index
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.3fr 3fr 1fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__about
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.5fr 4fr 1.5fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__login, #body__signup
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.5fr 4fr 1.5fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__catalog
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.2fr 3fr 0.4fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__cart
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.2fr 3fr 1fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }


/*HEADER NAV GENERAL*/    
    .header-nav
    {
        height: 12vh;
        position: sticky;
        align-items: center;
        list-style: none;
        background-color: lightslategray;
        display: flex;
        z-index: 999;
        margin-bottom: 10vh;
        grid-area: header-nav; 
        justify-content: space-between;
    }


    .logo
    {
        height: 50px;
        align-items: center;
    }


    .navbar
    {
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    .navbar li
    {

        list-style: none;
        position: relative;
        margin: 0px;
        padding: 0px;
    }

    .navbar li a
    {
        color: antiquewhite;
        font-size: 14px;
        font-weight: 600;
        transition: 0.2s;
        border-radius: 40px;
    }

    .navbar li a:hover,
    .navbar li a:active
    {
        color: rgb(253, 157, 31);
        background-color: #e3e6f3;
    }

    .navbar li a:active::after,
    .navbar li a:hover::after
    {
        content: "";
        width: 20%;
        height: 2px;
        background-color:rgb(201, 246, 246);
        position: absolute;
        bottom: -1px;
    }

/*FOOTER START*/

.footer
{
    text-decoration: none;
    color: #1a1a1a;
    grid-area: footer;
    background-color: #e3c6c6;
    position: sticky;
}


.footer img
{
    height: 120px;
    margin-top: 40px;
}



.description
{
    padding-top: 40px;
    font-size: 20px;
}

}



/*Monitor Escritorio*/

@media (min-width: 1024px) 
{

/*BODYS*/

    #body__index
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.3fr 3fr 1fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__about
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.5fr 4fr 1.5fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__login, #body__signup
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.5fr 4fr 1.5fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__catalog
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.2fr 3fr 0.4fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

    #body__cart
    {
        background-color: #d2d2d2;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr 2fr; 
        grid-template-rows: 0.2fr 3fr 1fr;  
        grid-template-areas: 
        "header-nav header-nav"
        "sections sections"
        "footer footer"; 
    }

/*HEADER GENERAL*/
    .header-nav
    {
        height: 16vh;
        position: sticky;
        align-items: center;
        list-style: none;
        background-color: lightslategray;
        display: flex;
        z-index: 999;
        margin-bottom: 10vh;
        grid-area: header-nav; 
        justify-content: space-between;
    }


    .logo
    {
        height: 80px;
        align-items: center;
    }


    .navbar
    {
        display: flex;
        margin: 0 20px;
    }

    .navbar li
    {

        list-style: none;
        padding: 0 10px;
        position: relative;
    }

    .navbar li a
    {
        color: antiquewhite;
        font-size: 18px;
        padding: 10px 20px;
        font-weight: 600;
        transition: 0.2s;
        border-radius: 40px;
    }

    .navbar li a:hover,
    .navbar li a:active
    {
        color: rgb(253, 157, 31);
        background-color: #e3e6f3;
    }

    .navbar li a:active::after,
    .navbar li a:hover::after
    {
        content: "";
        width: 20%;
        height: 2px;
        background-color:rgb(201, 246, 246);
        position: absolute;
        bottom: -1px;
        left: 30px; 
    }

/*FOOTER START*/

    .footer
    {
        text-decoration: none;
        color: #1a1a1a;
        grid-area: footer;
        background-color: #e3c6c6;
        position: sticky;
    }


    .footer img
    {
        height: 120px;
        margin-top: 40px;
    }


    .description
    {
        padding-top: 40px;
        font-size: 20px;
    }

    .description h4
    {
        margin-bottom: 20px;
    }


}